*{
    background-color: #03001C;
    color: #ffeee8;
    margin-left: 1vw;
}
header {

    background-color: #03001C;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;

}

nav {
    position: absolute;
    right: 10vw;
}

menu a {
    color: #ffeee8;
    margin-left:20px;
    text-decoration: none;
}

menu a:hover{
    color: #efd6cc;
}

header > div {
    display: inline-block;
    position: absolute;
    right: 2vw;
}

header>div>img{
    margin-right: 5px;
}

.betweenSpaces{
    width: 20vw;
    height: 15vh;
}

#mainAbout{
    margin-left: 80px;
}

#mainAbout > h3 {
    margin-top: 0;
    margin-bottom: 4px;
}

#mainAbout > span {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8vh;
    font-family: 'Abril Fatface', cursive;
}